/* Admin.module.css */

.container {
  display: flex;
  flex-wrap: wrap; /* Make it responsive */
  gap: 20px; /* Gap between items */
}

.item {
  flex: 1;
  min-width: 300px; /* Minimum width for each item */
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  width: 30%;
  max-width: 150px;
}

.table img {
  max-width: 50px;
  height: auto;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}

/* Responsive adjustments for 480px */
@media screen and (max-width: 480px) {
  .container {
    padding: 20px; /* Adjust padding */
  }
  
  .item {
    min-width: unset; /* Remove minimum width */
  }

  .table th,
  .table td {
    padding: 6px; /* Adjust padding */
    font-size: 12px; /* Adjust font size */
  }

  .table th:first-child,
  .table td:first-child {
    width: 50%; /* Adjust width */
    max-width: unset; /* Remove max width */
  }

  .table img {
    max-width: 30px; /* Adjust image max-width */
  }
}
