.container {
  height: calc(100vh - 100px);
  background-color: #d1e300;
  overflow: hidden;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.wrapper {
  width: 1280px;
  height: 100%;
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.imgContainer {
  flex: 0 0 100%; /* Lebar gambar 100% dari wrapper */
  height: 100%;
  position: relative;
}

@media screen and (max-width: 480px) {
  .container {
    height: 50vh;
  }
  .wrapper {
    width: 412px;
    height: 100%;
    display: flex;
    transition: transform 1.5s ease-in-out;
  }
  .imgContainer {
    flex: 0  0 100%; /* Lebar gambar 100% dari wrapper */
    height: 100%;
    position: relative;
  }
}
